<div class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__column">
        <a class="logo-title" routerLink="/">Auto <br> Parts</a>
      </div>
      <div class="about__column">
        <h3 class="about-title">О компании</h3>
        <p class="about-description">Магазин автозапчастей</p>
      </div>
      <div class="about__column">
        <h3 class="about-title">12 лет</h3>
        <p class="about-description">На рынке автозапчастей</p>
      </div>
      <div class="about__column">
        <h3 class="about-title">70 млн</h3>
        <p class="about-description">Выгодных товарных предложений</p>
      </div>
      <div class="about__column">
        <h3 class="about-title">в 15</h3>
        <p class="about-description">городах по всему Казахстану</p>
      </div>
    </div>
  </div>
</div>
