.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 75vh;

  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    > div {
      width: 50%;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;

    .title {

      > h1 {
        font-size: 60px;

        span {
          color: #f3b949;
        }
      }

      > p {
        margin-top: 20px;
        font-weight: 500;
        font-size: 15px;
        opacity: .8;
        line-height: 1.6;
      }
    }

    .additional-btn {
      display: flex;
      align-items: center;
      margin-top: 30px;

      .support {
        display: flex;
        align-items: center;
        margin-left: 50px;

        > div {
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: ease-in-out .2s;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 100%;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
          }

          i {
            color: #f3b949;
            font-size: 22px;
          }
        }

        h5 {
          font-weight: 600;
          margin-left: 10px;
          opacity: .8;
        }
      }
    }
  }

  .right {

    .right-wrapper {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      .item {
        width: 45%;
        margin: 40px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .item-inner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          height: 170px;
          width: 170px;
          border-radius: 20px;
          position: relative;

          img {
            width: 150px;
            position: absolute;
            top: -50px;
          }

          h3 {
            font-weight: 500;
            margin-top: 70px;
          }

          a {
            font-size: 14px;
            font-weight: 500;
            border-radius: 20px;
            background: #242844;
            color: #ffffff;
            padding: 8px 12px;
            position: absolute;
            bottom: -7%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transition: ease-in-out .2s;

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          }
        }
      }
    }
  }

  .bg {
    position: absolute;
    width: 85%;
    left: 0;
    right: 0;
    opacity: .4;
    margin: 0 auto;
    border-radius: 30%;
  }
}
