<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="column">
        <a class="logo-title" routerLink="/">Auto Parts</a>
      </div>
      <div class="column">
        <span class="column-title">Каталог</span>
        <a routerLink="/pages/catalog" class="column-item">Инструменты</a>
        <a routerLink="/pages/catalog" class="column-item">Масла</a>
        <a routerLink="/pages/catalog" class="column-item">Дворники</a>
        <a routerLink="/pages/catalog" class="column-item">Диски</a>
        <a routerLink="/pages/catalog" class="column-item">Щетки</a>
      </div>
      <div class="column">
        <span class="column-title">Помощь</span>
        <a routerLink="/pages/basket" class="column-item">Корзина</a>
        <a routerLink="/" class="column-item">Главная</a>
      </div>
      <div class="column">
        <span class="column-title">Кабинет</span>
        <a routerLink="/pages/auth/sign-in" class="column-item">Войти</a>
        <a routerLink="/pages/auth/registration" class="column-item">Регистрация</a>
      </div>
      <div class="column-images">
        <span class="column-images-title">Партнеры</span>
        <div class="image-container">
          <img src="./assets/images/halyk.png" alt="partner">
        </div>
        <div class="image-container">
          <img src="./assets/images/sberbank.png" alt="partner">
        </div>
        <div class="image-container">
          <img src="./assets/images/hyunday.png" alt="partner">
        </div>
        <div class="image-container">
          <img src="./assets/images/one-c.png" alt="partner">
        </div>
      </div>
    </div>
  </div>
</footer>
